html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/************************
        General
************************/

html, body, #app, .panel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
}

p {
  white-space: pre;
}

section, div {
  position: relative;
}

button, button:active {
  outline: none;
  text-decoration: none;
}

/************************
        Pannel
************************/
.panel-container {
  min-width: 1080px;
  min-height: 800px;
  display: flex;
}

.left-panel, .right-panel {
  position: relative;
  height: 100%;
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 33%;
  background: #202441;
}

.right-panel {
  width: 67%;
  overflow-y: scroll;
  background: #26294A;
}

/************************
        Ports
************************/
.ports {
  position: absolute;
  background: #2C325A;
  width: 100%;
  height: 8%;
  padding: 10px;
  z-index: 1;
}

.ports .current-port {
  color: #FFFFFF;
}

/************************
        Console
************************/
.console {
  width: 100%;
  height: 92%;
  padding: 15px;
  color: #FFFFFF;
}

/************************
        Control
************************/
.controls {
  background: #2C325A;
  width: 100%;
  height: 8%;
  padding: 10px;
}
.start-btn, .stop-btn {
  width: 30%;
  height: 100%;
  border-radius: 90px;
  margin-right: 3%;
}

/************************
        Channel
************************/
.channel {
  width: 100%;
  height: 12.5%;
  min-height: 100px;
  display: flex;
  color: #FFFFFF;
  border-bottom: 1px solid #5E639E;
}

.channel:last-of-type {
  border-bottom: none;
}

.channel-status {
  width: 5%;
  max-width: 50px;
  height: 100%;
  background: #181D45;
}

.channel-status-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.channel-number {
  transform: rotate(-90deg);
  line-height: 30px;
}

.channel-amplitude {
  width: 95%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.amplitude-min-max {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

.graph-y-line {
  height: 100%;
  padding: 10px 0;
}

.y-line {
  height: 100%;
}

.amplitude-graph {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.amplitude-line {
  height: 100%;
}

.amplitude-graph::-webkit-scrollbar {
  display: none;
}
